<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="css/enquiry.css" />
    <style>
      table {
        border-collapse: collapse;
      }
      th,
      td {
        border: 1px solid black;
        padding: 8px;
      }
      .edit-cell {
        background-color: lightyellow;
      }
    </style>

    <script>
      // JavaScript code
      function showEnquiry() {
        var enquiryDiv = document.getElementById("enquiryDiv");
        enquiryDiv.style.display = "block";

        var imageUploadDiv = document.getElementById("imageUploadDiv");
        imageUploadDiv.style.display = "none";

        var videoUploadDiv = document.getElementById("videoUploadDiv");
        videoUploadDiv.style.display = "none";

        var insightDiv = document.getElementById("insightDiv");
        insightDiv.style.display = "none";
      }

      function showImageUpload() {
        var enquiryDiv = document.getElementById("enquiryDiv");
        enquiryDiv.style.display = "none";

        var imageUploadDiv = document.getElementById("imageUploadDiv");
        imageUploadDiv.style.display = "block";

        var videoUploadDiv = document.getElementById("videoUploadDiv");
        videoUploadDiv.style.display = "none";

        var insightDiv = document.getElementById("insightDiv");
        insightDiv.style.display = "none";
      }

      function showVideoUpload() {
        var enquiryDiv = document.getElementById("enquiryDiv");
        enquiryDiv.style.display = "none";

        var imageUploadDiv = document.getElementById("imageUploadDiv");
        imageUploadDiv.style.display = "none";

        var videoUploadDiv = document.getElementById("videoUploadDiv");
        videoUploadDiv.style.display = "block";

        var insightDiv = document.getElementById("insightDiv");
        insightDiv.style.display = "none";
      }
      
      function showInsight() {
        var enquiryDiv = document.getElementById("enquiryDiv");
        enquiryDiv.style.display = "none";

        var imageUploadDiv = document.getElementById("imageUploadDiv");
        imageUploadDiv.style.display = "none";

        var videoUploadDiv = document.getElementById("videoUploadDiv");
        videoUploadDiv.style.display = "none";
      
        var insightDiv = document.getElementById("insightDiv");
        insightDiv.style.display = "block";
      }
    </script>
  </head>
  <body>
    <!-- include login.ejs -->
    <%- include('login.ejs') %>
    
    <div id="adminDiv" style="display:none">
      <div class="adminNav">
      <a href="/">Home</a>
      <br>
      <button onclick="showEnquiry()">Enquiry</button>
      <br>
      <button onclick="showImageUpload()">Image Upload</button>
      <br>
      <button onclick="showVideoUpload()">Video Upload</button>
      <br>
      <button onclick="showInsight()">Insights</button>
      </div>
      <div id="enquiryDiv" style="display:none">
        <%- include('enquiry.ejs') %>
      </div>

      <div id="imageUploadDiv" style="display:none">
        <%- include('image-upload.ejs') %>
      </div>

      <div id="videoUploadDiv" style="display:none">
        <%- include('video-upload.ejs') %>
      </div>

      <div id="insightDiv" style="display:none">
        <%- include('insights.ejs') %>
      </div>
    </div>

    <script>
      showEnquiry();
    </script>
  </body>
</html>
