<!DOCTYPE html>
<html>
  <head>
    <title>Enquiry List</title>
  </head>
  <body>
    <% let loggedin=true %>
    <% if(!loggedin){%>
         
         
    <%}else{%>       
      <section>
        <h1>Enquiry List</h1>
      <form method="GET" action="/enquiries/download">
        <label for="startDate">Start Date:</label>
        <input type="date" id="startDate" name="startDate">
  
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate">
  
        <button type="submit">Filter</button>
      </form>
  <!-- 
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Parent Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% enquiries.forEach(enquiry => { %>
            <tr>
              <td><%= (enquiry.date.getMonth()+1) + '/' + enquiry.date.getDate() + '/' + enquiry.date.getFullYear() %></td>
              <td><%= enquiry.parent_name %></td>
              <td><%= enquiry.email %></td>
              <td><%= enquiry.phone %></td>
              <td><%= enquiry.message %></td>
            </tr>
          <% }); %>
        </tbody>
      </table> -->
  
      <% if (enquiries.length > 0) { %>
        <a href="/enquiries/download?startDate=<%= startDate %>&endDate=<%= endDate %>">Download Enquiries</a>
      <% } %>
      </section>
       <section>
        <h1>Upload Images</h1>
        <form method="POST" enctype="multipart/form-data" action="/enquiries">
          <input type="file" name="image1" id="image1" accept="image/jpeg, image/png" />
          <input type="text" name="1" id="imc1" placeholder="Caption">
          <input type="file" name="image2" id="image2" accept="image/jpeg, image/png" />
          <input type="text" name="2" id="imc2" placeholder="Caption">
          <input type="file" name="image3" id="image3" accept="image/jpeg, image/png" />
          <input type="text" name="3" id="imc3" placeholder="Caption">
          <input type="file" name="image4" id="image4" accept="image/jpeg, image/png" />
          <input type="text" name="4" id="imc4" placeholder="Caption">
          <input type="file" name="image5" id="image5" accept="image/jpeg, image/png" />
          <input type="text" name="5" id="imc5" placeholder="Caption">
          <input type="file" name="image6" id="image6" accept="image/jpeg, image/png" />
          <input type="text" name="6" id="imc6" placeholder="Caption">
          <input type="file" name="image7" id="image7" accept="image/jpeg, image/png" />
          <input type="text" name="7" id="imc7" placeholder="Caption">
          <input type="file" name="image8" id="image8" accept="image/jpeg, image/png" />
          <input type="text" name="8" id="imc8" placeholder="Caption">
          <input type="file" name="image9" id="image9" accept="image/jpeg, image/png" />
          <input type="text" name="9" id="imc9" placeholder="Caption">
          <button type="button" id="upload_btn">Submit</button>
        </form>
        <script src="/script/sycnImages.js"></script>
      </section>
      
       
      
  
      <section>

      <h1>Upload Videos</h1>
      <form method="POST" enctype="multipart/form-data" action="/enquiries">
        <input type="file" placeholder="Add video" id="video1" name="video1" accept="video/mp4">
        <input type="text" name="1" id="vdc1" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video2" name="video2" accept="video/mp4">
        <input type="text" name="2" id="vdc2" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video3" name="video3" accept="video/mp4">
        <input type="text" name="3" id="vdc3" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video4" name="video4" accept="video/mp4">
        <input type="text" name="4" id="vdc4" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video5" name="video5" accept="video/mp4">
        <input type="text" name="5" id="vdc5" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video6" name="video6" accept="video/mp4">
        <input type="text" name="6" id="vdc6" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video7" name="video7" accept="video/mp4">
        <input type="text" name="7" id="vdc7" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video8" name="video8" accept="video/mp4">
        <input type="text" name="8" id="vdc8" placeholder="Caption">
        <input type="file" placeholder="Add video" id="video9" name="video9" accept="video/mp4">
        <input type="text" name="9" id="vdc9" placeholder="Caption">
        <button type="button" id="upload_video_btn">Submit</button>
      </form>
      <script src="/script/syncVideos.js"></script>
      
        
      </section>
      
    
    
    <%}%>            
          
    
    
  </body>
</html>
