<!-- include login.ejs -->

<h1>Insights</h1>
<table>
  <thead>
    <tr>
      <th>Child Name</th>
      <th>Branch</th>
      <th>Standard</th>
      <th>Email</th>
      <th>Total Fees</th>
      <th>Fees Paid</th>
      <th>Remaining Fees</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% admissions.forEach(function(admission) { %>
      <tr>
        <td class="editable" contenteditable="true" data-id="<%= admission.id %>" data-field="childname">
          <%= admission.childname %>
        </td>
        <td>
          <%= admission.branch %>
        </td>
        <td>
          <%= admission.standard %>
        </td>
        <td class="editable" contenteditable="true" data-id="<%= admission.id %>" data-field="email">
          <%= admission.email %>
        </td>
        <td class="editable" contenteditable="true" data-id="<%= admission.id %>" data-field="totalFees">
          <%= admission.totalFees %>
        </td>
        <td class="editable" contenteditable="true" data-id="<%= admission.id %>" data-field="feespaid">
          <%= admission.feespaid %>
        </td>
        <td class="editable" contenteditable="true" data-id="<%= admission.id %>" data-field="remainingFees">
          <%= admission.totalFees - admission.feespaid %>
        </td>
        <td>
          <button onclick="updateData('<%= admission.id %>')">Update</button>
        </td>
      </tr>
      <% }); %>
  </tbody>
</table>
<script src="/script/updateData.js"></script>