<!DOCTYPE html>
<html lang="en">

<head>
   <%-include("./common/header.ejs")%>
   <!-- <style>
    .img-fluid {
      object-fit: cover;
      width: 320px;
      height: 240px;
      align-items: center;
    }
  </style> -->
</head>

<body>
    <div class="container-l bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <%- include('./common/nav.ejs', { activePage: 'video' }) %>
        <!-- Navbar End -->



        <!-- Classes Start -->
        <div class="container-l py-5 bg-secondary">
            <div class="container">
                <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <h1 class="mb-3">Videos</h1>
                </div>
                <div class="row g-4">
                    <div class="row">
                        <% labels.map((obj) => { %>
                          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="classes-item">
                              <div class="bg-light w-100 mx-auto p-3">
                                <video class="img-fluid" controls>
                                    <source src="vid/video1.mp4" type="video/mp4">
                                </video>
                                <label id ="<%= obj.id %>" style="font-size: xx-large; color: black;"><%= obj.label %></label>
                              </div>
                            </div>
                          </div>
                        <% }) %>

                      </div>
                
                </div>
               
                <!-- <div class="row g-4">
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light w-100 mx-auto p-3">
                                <video class="img-fluid" controls>
                                    <source src="vid/video1.mp4" type="video/mp4">
                                </video>
                                <h1>Navratri Celebration</h1>
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light w-100 mx-auto p-3">
                                <video class="img-fluid" controls>
                                    <source src="vid/KCvideo1.mp4" type="video/mp4">
                                </video>
                                <h1>Christmas Celebration</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light w-100 mx-auto p-3">
                                <video class="img-fluid" controls>
                                    <source src="vid/KCvideo3.mp4" type="video/mp4">
                                </video>
                                <h1>Christmas Celebration</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light w-100 mx-auto p-3">
                                <video class="img-fluid" controls>
                                    <source src="vid/KCvideo2.mp4" type="video/mp4">
                                </video>
                                <h1>Republic Day</h1>
                            </div>
                        </div>
                    </div> --> 
                </div>
            </div>
        </div>
        <!-- Classes End -->


        <!-- Footer Start -->
        <%-include("./common/footer.ejs")%>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>