<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
    <a href="/" class="navbar-brand d-flex align-items-center">
      <i class="fa KCLogo me-3"></i>
      <h1 class="m-0 text-primary">Kid's Concept</h1>
    </a>
  <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav mx-auto">
          <a href="/" class="nav-item nav-link <%= activePage === 'home' ? 'active' : '' %>">Home</a>
          <!-- <a href="about.html" class="nav-item nav-link <%= activePage === 'about' ? 'active' : '' %>">About Us</a> -->
          <a href="/gallery" class="nav-item nav-link <%= activePage === 'gallery' ? 'active' : '' %>">Gallery</a>
          <a href="/video" class="nav-item nav-link <%= activePage === 'video' ? 'active' : '' %>">Video</a>
          <a href="/admission" class="nav-item nav-link <%= activePage === 'admission' ? 'active' : '' %>">Admission</a>
          <a href="/contact" class="nav-item nav-link <%= activePage === 'contact' ? 'active' : '' %>">Contact Us</a>
      </div>
  </div>
</nav>
